# Ler Dataset Zipado

*by [JOVIANO SILVEIRA](https://www.joviano.com)*

In [1]:
import pandas as pd
import zipfile

# Dataset zipado disponivel em
# https://github.com/jovianosilveira/python_tips/raw/master/BasesDiversas/DatasetZipado.zip
# No meu caso, coloquei numa subpasta denominada 'BasesDiversas', mas faça como lhe convir 
zf = zipfile.ZipFile('BasesDiversas\DatasetZipado.zip') 

df = pd.read_excel(zf.open('teste.xlsx'))
del(zf)
df

                       DataID  Valor  ClienteID
0     2000-01-01 00:00:00.000   4.61         19
1     2000-01-01 01:50:26.880   2.93         94
2     2000-01-01 03:40:53.760   3.66         25
3     2000-01-01 05:31:20.640   7.85         91
4     2000-01-01 07:21:47.520   7.09         78
...                       ...    ...        ...
99993 2020-12-30 11:06:51.821   9.94         77
99994 2020-12-30 12:57:18.701   2.63         82
99995 2020-12-30 14:47:45.581   9.30          2
99996 2020-12-30 16:38:12.461   5.86         80
99997 2020-12-30 18:28:39.341   2.79         11

[99998 rows x 3 columns]

### Conheça meu trabalho

<a href="https://www.joviano.com">
<img src="https://raw.githubusercontent.com/jovianosilveira/img/master/joviano-silveira-site-logo.png" alt="joviano.com" width="20%">
</a>

<a href="https://www.youtube.com/jovianosilveira">
<img src="https://github.com/jovianosilveira/img/blob/master/joviano-silveira-youtube-logo.png?raw=true" alt="joviano.com" width="20%">
</a>

<a href="http://www.linkedin.com/in/jovianosilveira">
<img src="https://github.com/jovianosilveira/img/blob/master/joviano-silveira-linkedin-logo.png?raw=true" alt="joviano.com" width="20%">
</a>

<a href="https://www.instagram.com/jovi.silveira">
<img src="https://github.com/jovianosilveira/img/blob/master/joviano-silveira-instagram-logo.png?raw=true" alt="joviano.com" width="20%">
</a>

<a href="https://www.facebook.com/jovi.silveira.cursos">
<img src="https://github.com/jovianosilveira/img/blob/master/joviano-silveira-facebook-logo.png?raw=true" alt="joviano.com" width="20%">
</a>

### Conheça os cursos que fiz para você

<a href="https://www.joviano.com/cursos-para-voce">
<img src="https://github.com/jovianosilveira/img/blob/master/joviano-silveira-cursos-logo.png?raw=true" alt="joviano.com" width="20%">
</a>