In [1]:
from sys import getsizeof

a = 1234567890
b = '1234567890'

variaveis = {
        "a" : getsizeof(a)* (1192*10**-7),
        "b" : getsizeof(b)* (1192*10**-7)
}
variaveis

In [2]:
consumo_bits_memoria_ram = sum(variaveis.values())
consumo_bits_memoria_ram

In [3]:
del(variaveis['a'])

In [4]:
variaveis

{'b': 0.0070328}

In [5]:
import pandas as pd

In [6]:
link = "https://github.com/jovianosilveira/python_cases/blob/master/20200930_QueimadasBrasil/incendios.xlsx?raw=true"
colunas = ['Código CNUC', 'Área estimada da UC (ha)']
df = pd.read_excel(link, 
                   sheet_name = 'queima', 
                   usecols = colunas, 
                   dtype = {
                       "Código CNUC" : str, 
                       "Área estimada da UC (ha)" : float
                   }
                  )
df.head()

    Código CNUC  Área estimada da UC (ha)
0  0000.00.0001               4436.590227
1  0000.00.1521             292599.924245
2  0000.00.0007              14917.791283
3  0000.00.0020              39957.148494
4  0000.00.0002             143355.585718

In [7]:
df.dtypes

Código CNUC                  object
Área estimada da UC (ha)    float64
dtype: object

In [8]:
getsizeof(df)* (1192*10**-7)

3.0010984

In [9]:
df['Área estimada da UC (ha)'] = df['Área estimada da UC (ha)'].astype(str)
df.head()

    Código CNUC Área estimada da UC (ha)
0  0000.00.0001            4436.59022746
1  0000.00.1521            292599.924245
2  0000.00.0007            14917.7912831
3  0000.00.0020            39957.1484943
4  0000.00.0002            143355.585718

In [10]:
df.dtypes

Código CNUC                 object
Área estimada da UC (ha)    object
dtype: object

In [11]:
getsizeof(df)* (1192*10**-7)

5.3877208