Dica: Padronize a chamada de str com áspas simples, deixando as duplas para usar caso você precide dentro da chamada

In [1]:
import pandas as pd

In [3]:
dic = {
    'A' : [1,'s','z'],
    'B' : [4,5,6]
}

df = pd.DataFrame(dic)
df

   A  B
0  1  4
1  s  5
2  z  6

In [5]:
df.query('A == "s"')

   A  B
1  s  5

quando se precisar usar aspas no meio de uma string, faça assim:

In [6]:
print('This book\'s mine')

This book's mine