In [1]:
import pandas as pd

In [2]:
dic = {
    "ID" : [1,2,3],
    "Coração Bom" : ['S','S','N']
}

In [3]:
df = pd.DataFrame(dic)
df

   ID Coração Bom
0   1           S
1   2           S
2   3           N

In [5]:
df.query(' `Coração Bom` == "S"')

   ID Coração Bom
0   1           S
1   2           S